In [35]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

df = pd.DataFrame({
#     "name": ['Alfred', 'Batman', 'Catwoman','oliver'],
#                    "toy": [np.nan, 'Batmobile', 'Bullwhip','变形金刚'],                   
#                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),pd.NaT,pd.Timestamp("1940-04-25")],
#                    "sex": ['m', 'f', 'm','f'],
                   "height": [174, 160, 151,np.nan],
                    "high-pressure": [130, 120, 121,140],
                   "age": [16, 32, np.nan,44]
                  })
# df.dropna(axis=0,inplace=True)

cols_with_missing = [col for col in df.columns
                     if df[col].isnull().any()]

print("cols_with_missing")
print(cols_with_missing)

reduced_df = df.drop(cols_with_missing, axis=1)
print('---------------------------------------------------------')
print('reduced_df:')
print(reduced_df)
print('---------------------------------------------------------')
my_imputer = SimpleImputer()
imputed_df = pd.DataFrame(my_imputer.fit_transform(df))
print('imputed_df:')
print(imputed_df)
print('---------------------------------------------------------')
print("df.columns:")
print(df.columns)
print('---------------------------------------------------------')
imputed_df.columns=df.columns
print('imputed_df:')
print(imputed_df)
print('---------------------------------------------------------')

print('df_plus:')
df_plus = df.copy()
print(df_plus)
print('---------------------------------------------------------')
for col in cols_with_missing:
    df_plus[col + '_was_missing'] = df_plus[col].isnull()
print('df_plus:')
print(df_plus)
print('---------------------------------------------------------')

df.dropna(axis=0, subset=['age'], inplace=True)
df

cols_with_missing
['height', 'age']
---------------------------------------------------------
reduced_df:
   high-pressure
0            130
1            120
2            121
3            140
---------------------------------------------------------
imputed_df:
            0      1          2
0  174.000000  130.0  16.000000
1  160.000000  120.0  32.000000
2  151.000000  121.0  30.666667
3  161.666667  140.0  44.000000
---------------------------------------------------------
df.columns:
Index(['height', 'high-pressure', 'age'], dtype='object')
---------------------------------------------------------
imputed_df:
       height  high-pressure        age
0  174.000000          130.0  16.000000
1  160.000000          120.0  32.000000
2  151.000000          121.0  30.666667
3  161.666667          140.0  44.000000
---------------------------------------------------------
df_plus:
   height  high-pressure   age
0   174.0            130  16.0
1   160.0            120  32.0
2   151.0            121   NaN
3     NaN            140  44.0
---------------------------------------------------------
df_plus:
   height  high-pressure   age  height_was_missing  age_was_missing
0   174.0            130  16.0               False            False
1   160.0            120  32.0               False            False
2   151.0            121   NaN               False             True
3     NaN            140  44.0                True            False
---------------------------------------------------------

   height  high-pressure   age
0   174.0            130  16.0
1   160.0            120  32.0
3     NaN            140  44.0

In [77]:
df = pd.DataFrame({
     "name": ['Alfred', 'Batman', 'Catwoman','oliver'],
                    "toy": [np.nan, 'Batmobile', 'Bullwhip','变形金刚'],                   
                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),pd.NaT,pd.Timestamp("1940-04-25")],
                   "sex": ['m', 'f', 'm','f'],
                   "height": [174, 160, 151,np.nan],
                    "high-pressure": [130, 120, 121,140],
                   "age": [16, 32, np.nan,44]
                  })

s = (df.dtypes == 'object')
# print(s)

object_cols = list(s[s].index)


print(df.dtypes)
print('-------------------------------')
# print(object_cols)
print(s)
print('-------------------------------')
print(type(s))
print(type(s.index))
print(type(s[s]))
print(type(s[s].index))
print('-------------------------------')
print(s[s])
print('-------------------------------')
print(df)

a = pd.Series([True,True,False,True,False,False,False],index=['name','toy','born','sex','height','high-pressure','age'])
print(a)
print(s[a])
print(s[a].index)

name                     object
toy                      object
born             datetime64[ns]
sex                      object
height                  float64
high-pressure             int64
age                     float64
dtype: object
-------------------------------
name              True
toy               True
born             False
sex               True
height           False
high-pressure    False
age              False
dtype: bool
-------------------------------
<class 'pandas.core.series.Series'>
<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.indexes.base.Index'>
-------------------------------
name    True
toy     True
sex     True
dtype: bool
-------------------------------
       name        toy       born sex  height  high-pressure   age
0    Alfred        NaN        NaT   m   174.0            130  16.0
1    Batman  Batmobile 1940-04-25   f   160.0            120  32.0
2  Catwoman   Bullwhip        NaT   m   151.0            121   NaN
3    oliver       变形金刚 1940-04-25   f     NaN            140  44.0
name              True
toy               True
born             False
sex               True
height           False
high-pressure    False
age              False
dtype: bool
name    True
toy     True
sex     True
dtype: bool
Index(['name', 'toy', 'sex'], dtype='object')